---
// @ts-ignore
import { Icon } from 'astro-icon/components'

const features = [
  {
    title: 'Discovery',
    description:
      'Each project starts with initial conversations between us and the team. This is the starting point of any partnership, as well as a one-off targeted intervention in clinics and outreach activities.',
    icon: 'bx:bxs-briefcase',
  },
  {
    title: 'User research: light',
    description:
      'Test/validate assumptions, establish questions and scope for broader research, collect feedback, co-create and prioritize features/concepts',
    icon: 'bx:bxs-briefcase',
  },
]
---

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{' '}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
