---
import { Image } from 'astro:assets'
import heroImage from 'assets/hero.png'
import Link from '@components/ui/link.astro'
import { Icon } from 'astro-icon/components'
import highlight from '@assets/highlight.svg'
---

<main class="my-24 grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12">
  <p class="text-5xl text-black font-light">
    <span class="underline decoration-dlmain decoration-dotted decoration-8"
      >Creative</span
    > project design <br />for social good champions through
    <span class="underline decoration-dlmain decoration-dotted decoration-8"
      >appropriate</span
    > technology that strengthens
    <span class="underline decoration-dlmain decoration-dotted decoration-8"
      >human</span
    > systems
  </p>.
</main>

<div>
  <div class="mt-6 flex flex-col sm:flex-row gap-3"></div>
</div>
